<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC COMERC - Lakša kupovina kod nas!</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <style>
        body 
        {
            background: black;
        }
        button 
        {
            background: white;
            color: black;
        }

        h1 
        {
            color: white;
            font-size: 85px;
        }
    </style>
</head>
<body>
    <div id="container">
         <h1 style="text-align: center;">PC COMERC</h1>
        <a href="/products"><button>KATALOG</button></a>
        <a href="/addproduct"><button>DODAJ NOVI PROIZVOD</button></a>
    </div>
   
</body>
</html>