<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC COMERC - Lakša kupovina kod nas!</title>
    <link href="../style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <ul>
            <li ><a href="/products">KATALOG</a></li>
            <li><a href="/addproduct">DODAJ PROIZVOD</a></li>
        </ul>
    </header>
    
    <div class="container">
        <div class="article">
            <div class="box">
            <h3>АŽURIRAJ PROIZVOD ></h3>
            ${data}
        </div>
        </div> 
    </div>
</body>
</html>